@use "sass:math";

//size variables
$divWidth: 1px;
$divHeight: $divWidth * 2;

//color variables

// base color medium version
$baseColorHue: 0;
$baseColorSaturation: 100%;
$baseColorLightness: 25%;
$baseColor: hsl($baseColorHue, $baseColorSaturation, $baseColorLightness);

// base color darker version
$darkBaseColorHue: $baseColorHue;
$darkBaseColorSaturation: 75%;
$darkBaseColorLightness: 12.5%;
$darkBaseColor: hsl($darkBaseColorHue, $darkBaseColorSaturation, $darkBaseColorLightness);

// gray color
$grayBaseColorHue: 0;
$grayBaseColorSaturation: 0%;
$grayBaseColorLightness: 8%;
$grayBaseColor: hsl($grayBaseColorHue, $grayBaseColorSaturation, $grayBaseColorLightness);

// black color
$blackBaseColorHue: 360;
$blackBaseColorSaturation: 0%;
$blackBaseColorLightness: 0%;
$blackBaseColor: hsl($blackBaseColorHue, $blackBaseColorSaturation, $blackBaseColorLightness);

$colorSteps: 4;
$lightnessDifferenceDark: 20%;
$lightnessDifferenceLight: 25%;
$lightnessDifferenceGray: 25%;
$lightnessDifferenceBlack: 25%;

// $lightnessDifferenceDark: 30%;
// $lightnessDifferenceLight: 50%;

body{
    display: inline-block;
}

div{
    padding: 0;
    margin: 0;
    border: 0;
    background-color: $blackBaseColor;
}
 
.row {
    div{
        // display: inline-block;
        width: $divWidth;
        height: $divHeight;
        float: left;
    }
    .pixel{
        &.dark{
            &.step_4{
                background-color: hsl($darkBaseColorHue, $darkBaseColorSaturation * 1, $darkBaseColorLightness + math.div($lightnessDifferenceDark, $colorSteps) * 1);
            }
            &.step_3{
                background-color: hsl($darkBaseColorHue, $darkBaseColorSaturation * 1, $darkBaseColorLightness + math.div($lightnessDifferenceDark, $colorSteps) * 2);
            }
            &.step_2{
                background-color: hsl($darkBaseColorHue, $darkBaseColorSaturation * 1, $darkBaseColorLightness + math.div($lightnessDifferenceDark, $colorSteps) * 3);
            }
            &.step_1{
                background-color: hsl($darkBaseColorHue, $darkBaseColorSaturation * 1, $darkBaseColorLightness + math.div($lightnessDifferenceDark, $colorSteps) * 4);
            }
        }

        &.light{
            &.step_4{
                background-color: hsl($baseColorHue, $baseColorSaturation * 1, $baseColorLightness + math.div($lightnessDifferenceLight, $colorSteps) * 1);
            }
            &.step_3{
                background-color: hsl($baseColorHue, $baseColorSaturation * 1, $baseColorLightness + math.div($lightnessDifferenceLight, $colorSteps) * 2);
            }
            &.step_2{
                background-color: hsl($baseColorHue, $baseColorSaturation * 1, $baseColorLightness + math.div($lightnessDifferenceLight, $colorSteps) * 3);
            }
            &.step_1{
                background-color: hsl($baseColorHue, $baseColorSaturation * 1, $baseColorLightness + math.div($lightnessDifferenceLight, $colorSteps) * 4);
            }
        }

        &.gray{
            &.step_4{
                background-color: hsl($grayBaseColorHue, $grayBaseColorSaturation * 1, $grayBaseColorLightness + math.div($lightnessDifferenceGray, $colorSteps) * 1);
            }
            &.step_3{
                background-color: hsl($grayBaseColorHue, $grayBaseColorSaturation * 1, $grayBaseColorLightness + math.div($lightnessDifferenceGray, $colorSteps) * 2);
            }
            &.step_2{
                background-color: hsl($grayBaseColorHue, $grayBaseColorSaturation * 1, $grayBaseColorLightness + math.div($lightnessDifferenceGray, $colorSteps) * 3);
            }
            &.step_1{
                background-color: hsl($grayBaseColorHue, $grayBaseColorSaturation * 1, $grayBaseColorLightness + math.div($lightnessDifferenceGray, $colorSteps) * 4);
            }
        }
        &.black{
            &.step_4{
                background-color: hsl($blackBaseColorHue, $blackBaseColorSaturation * 1, $blackBaseColorLightness + math.div($lightnessDifferenceBlack, $colorSteps) * 1);
            }
            &.step_3{
                background-color: hsl($blackBaseColorHue, $blackBaseColorSaturation * 1, $blackBaseColorLightness + math.div($lightnessDifferenceBlack, $colorSteps) * 2);
            }
            &.step_2{
                background-color: hsl($blackBaseColorHue, $blackBaseColorSaturation * 1, $blackBaseColorLightness + math.div($lightnessDifferenceBlack, $colorSteps) * 3);
            }
            &.step_1{
                background-color: hsl($blackBaseColorHue, $blackBaseColorSaturation * 1, $blackBaseColorLightness + math.div($lightnessDifferenceBlack, $colorSteps) * 4);
            }
        }
    }
}